/* Imports Lato as default font, using sans-serif as a backup. Taken from googlefonts.*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    color: #1d4289;
}

/* Styles titles and subtitles */
#title, .subtitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

/* Styles text input area */
#caeser-input {
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    padding: 5px;
}

/* Styles text transformation area */
#key-button-area {
    margin-left: 10%;
    margin-right: 10%;
}

/* Styles area where a key can be manually inserted*/
#key-select {
    font-weight: bold;
}

/* Styles buttons */ 
.caeser-button {
    text-align: center;
    font-weight: bold;
}

/* Styles key needed to unscramble message */
#unscramble {
    text-align: center;
    font-weight: bold;
}

/* Styles information text */
#information-text {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

/* Footer styling */ 
footer {
    text-align: center;
    width: 100%;
    padding: 1em 0;
}

footer > a {
    text-decoration: none;
    padding: 0 1.5em;
    font-size: 1.5em;
    font-weight: bold;
}

footer a:hover {
    color: red;
}

/* For small screens size 800px and below */
@media screen and (max-width: 800px) {
    #caeser-input {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}